* {
	box-sizing: border-box;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	/*background-color: #311B92;*/
}

body::before {
    background-size: cover;
    background-attachment: fixed;
    content: '';
    will-change: transform;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: fixed;
}
@media (max-width: 512px)  and (min-resolution: 1.5dppx),
       (max-width: 1024px) and (max-resolution: 1.5dppx) {
  body::before {
    background-image: url('https://images.unsplash.com/photo-1468956332313-2dcf1542828f?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=');
  }
}
@media (min-width: 513px)  and (max-width: 1024px) and (min-resolution: 1.5dppx),
       (min-width: 1025px) and (max-width: 2048px) and (max-resolution: 1.5dppx)  {
  body::before {
    background-image: url('https://images.unsplash.com/photo-1468956332313-2dcf1542828f?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=');
  }
}
@media (min-width: 1025px) and (min-resolution: 1.5dppx),
       (min-width: 2049px) and (max-resolution: 1.5dppx) {
  body::before {
    background-image: url('https://images.unsplash.com/photo-1468956332313-2dcf1542828f?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=');
  }


h1 {
	color: white;
	margin-left: 70px;
  margin-top: 70px;
}

p {
  color: white;
  margin-left: 70px;
  margin-top: 50px;
  font-style: italic;
  font-size: 22px;
}


main {
	margin-top: 100px;
  font-weight: bold;
  font-size: 16px;
}

.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  margin-bottom: 100px;
  background-color: white;
  border-radius: 2px;
  padding: 40px;
  color: #616161;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-6 {
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

/* Mobile defaults */
.col-6 {
  width: 100%;
}

input {
  height: 35px;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  padding: 5px;
}

button {
  background-color: #607D8B !important;
  color: white;
  border: none;
  border-radius: 2px;
  padding: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
}


/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  /* 3 columns, 3/12 in % */
  

  /* 6 columns */
  .col-6 {
    width: 50%;
  }
}
