* {
  box-sizing: border-box;
  font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;

}

body {
  background-image: url('https://images.unsplash.com/photo-1468956332313-2dcf1542828f?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=');
}

h1 {
  color: white;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 40px;
}

p {
  color: #ff7b29;
  font-size: 22px;
  margin-left: 70px;
  margin-right: 70px;
}

main {
  margin-top: 70px;
  font-weight: bold;
  font-size: 16px;
}

.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  margin-bottom: 100px;
  background-color: white;
  border-radius: 2px;
  padding: 40px;
  color: #616161;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
}


/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}


.row::after {
  clear: both;
}


.col-6 {
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}


/* Mobile defaults */
.col-6 {
  width: 100%;
}


input {
  height: 35px;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  padding: 5px;
}


button {
  background-color: #607D8B;
  color: white;
  border: none;
  border-radius: 2px;
  padding: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  transition-property: background;
  transition-duration: 0.1s;
  transition-timing-function: linear;
}

button:hover {
  background: #ff7b29;
}

/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  /* 3 columns, 3/12 in % */
  


  /* 6 columns */
  .col-6 {
    width: 50%;
  }
}


